@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Microsoft.AspNetCore.Mvc.RazorPages
@model Cs_Hub.Dtos.Login;

@{
    ViewData["Title"] = "LogIn";
}

<div class="container mt-5">
    <h2 class="text-center mb-4 text-danger">Log In</h2>
    <form asp-controller="Account" asp-action="Login" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label asp-for="Email" class="form-label text-danger">Email</label>
            <input asp-for="Email" class="form-control" style="background-color: white; color: red; border: 1px solid red;" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label text-danger">Password</label>
            <input asp-for="Password" class="form-control" type="password" style="background-color: white; color: red; border: 1px solid red;" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-danger">Log In</button>
    </form>
    
</div>
