@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Microsoft.AspNetCore.Mvc.RazorPages


@{
    ViewData["Title"] = "Home Page";
}





    <h1 class="text-center mb-4">Hello in Home</h1>

<div>
    <a asp-controller="User" asp-action="GetAllUsers" class="btn btn-danger mx-2">GetAllUsers</a>
</div>

